.country {
    border: 1px solid #3c3489;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 16px;
    align-items: center;
    justify-items: center;
    background-color: #1e1c2b;
    color: #c2c0d6;
}

.visitedCountry {
    background-color: #26215c;
    border-color: #7f77dd;
}

.visitedCountry button {
    background-color: #7f77dd;
    color: #26215c;
    border-color: #eeedfe;
}

.country img {
    max-width: 100%;
    max-height: 120px;
    object-fit: contain;
    border: 1px solid #3c3489;
    border-radius: 4px;
}